<% provide(:title, "Home for Ruby Rest Hello Galaxy") %>
<h1>Home for Ruby Rest Hello Galaxy</h1>

<header class="navbar navbar-fixed-top navbar-inverse">
		<div class ="container">
			<nav>
				<u1 class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",  '/' %></li>
					<li><%= link_to "Info", 'static_pages/info' %></li>
					<li><%= link_to "HelloWorld", 'static_pages/HelloWorld' %></li>
					<li><%= link_to "Catalog", 'static_pages/Catalog' %></li>
					<li><%= link_to "Databases", 'static_pages/Databases' %></li>
					<li><%= link_to "SensorInsert", 'static_pages/SensorInsert' %></li>
					<li><%= link_to "SensorRead", 'static_pages/SensorRead' %></li>
					<li><%= link_to "Spatial", 'static_pages/Spatial' %></li>
					<li><%= link_to "TimeSeries", 'static_pages/TimeSeries' %></li>
					<li><%= link_to "Text", 'static_pages/Text' %></li>
				</ul>
			</nav>
		</div>
	</header>