<% provide(:title, "TimeSeries for Ruby Rest Hello Galaxy") %>
<h1>Ruby Rest Hello Galaxy:TimeSeries</h1>

<header class="navbar navbar-fixed-top navbar-inverse">
		<div class ="container">
			<nav>
				<u1 class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",  '/' %></li>
					<li><%= link_to "Info", 'info' %></li>
					<li><%= link_to "HelloWorld", 'HelloWorld' %></li>
					<li><%= link_to "Catalog", 'Catalog' %></li>
					<li><%= link_to "Databases", 'Databases' %></li>
					<li><%= link_to "SensorInsert", 'SensorInsert' %></li>
					<li><%= link_to "SensorRead", 'SensorRead' %></li>
					<li><%= link_to "Spatial", 'Spatial' %></li>
					<li><%= link_to "TimeSeries", 'TimeSeries' %></li>
					<li><%= link_to "Text", 'Text' %></li>
				</ul>
			</nav>
		</div>
	</header>